/* Costum-Props  */
:root{
  --text-color: #69707D;
  --text-color-dark:#1D2026;
  --coral: #FF7E1B;
  --coral-light:#ffeee2;
  --light-bg:#f6f8fd;

  --box-shadow:0px 20px 50px -20px #FF7E1B;
  --font:"Kumbh Sans", "Arial", sans-serif;

}
/* Font-Face */
/* kumbh-sans-regular - latin */
@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
  url("../fonts/kumbh-sans-v11-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/kumbh-sans-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kumbh-sans-700 - latin */
@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
  url("../fonts/kumbh-sans-v11-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/kumbh-sans-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:var(--text-color);
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* HEADER NAV PART  */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px ;
  padding-bottom: 34px;
  border-bottom: 1px solid  #E4E9F2;
}
.nav-wrapper {
  display: flex;
  align-items:center;


}
.logo {
  margin-right: 56px;
  color:var(--text-color-dark);
  font-size: 25px;
  font-weight: 700;
}
.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.nav-list {
  display: flex;

}
.nav-item-wrapper{
  position: relative;
  margin-right: 30px;

}
.nav-item {
  margin: 0 1px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;

}
.nav-item:hover{
  color:var(--text-color-dark)
}
.nav-item:active{
  color:var(--text-color-dark)
}

.nav-item:hover::after{
  position: absolute;
  content: "";
  top:73px;
  left:0;
  width: 100%;
  height: 4px;
  background-color:var(--coral)
}


/*
Basket part  */

.user-info {
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.basket {
  position: relative;
  margin-right: 47px;

}
.basket_appearance:hover{
  color:var(--text-color-dark)
}

.number_of_items {
  display: none;
  position: absolute;
  bottom: 20px;
  left:15px;
  padding: 2px 8px;
  background-color:var(--coral);
  border-radius:6.5px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
}
.card_container {
  position: absolute;
  top: 50px;
  left: -150px;
  width: 360px;
  padding: 24px 24px 32px ;
  background: #FFFFFF;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  border-radius: 10px;
  min-height: 256px;
  display: flex;
  flex-direction: column;

}

.card_title{
  padding-bottom: 27px ;
  border-bottom: 1px solid #E4E9F2;
}
.card_title span{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-dark);
}
.item_container{
  position: relative;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.empty_card{
  display: none;
}
.empty_item_container .empty_card{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-grow: 1;

}
.user-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:2px solid transparent;
  box-sizing: content-box;
}
.user-pic:hover {
  border: 2px solid var(--coral);
}